{% extends 'layout.twig' %}
{% block content %}
<h2>post</h2>
<a class="btn btn-primary" href="{{'admin/posts/create' | url }}">agregar nuevo post</a>
<table class="table">
  <tr>
    <th>TITULO</th>
    <th>EDITAR</th>
    <th>ELIMINAR</th>
  </tr>
  {% for blog in blog %}
  <tr>
    <td>{{ blog.titulo }}</td>
    <td>editar</td>
    <td>eliminar</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
