{% extends "layout.twig" %}
{% block content %}
  {% for blog in blog %}
  <div class="blog-post">
  <h2>{{ blog.titulo }}</h2>
  <p>ene 1, 2018 <a href="">joel</a></p>
  <div class="blog-post-image">
    <img src="images/joel.jpg" alt="" style="max-width: 700px; max-height: 600px"  />
  </div>
  <div class="blog-post-content">
    {{ blog.contenido }}
    </div>
  </div>
  {% endfor %}
{% endblock %}
